*{
    margin: 0;
    padding: 0;
}
.main{
    margin: 20px;
    width: 100%;
    height: 800px;

}
.left-ear{
    position: absolute;
    width: 70px;
    height: 30px;
    background-color: lightpink;
    border: 4px solid rgb(205, 175, 175);
    top: 102px;
    left: 262px;
    border-bottom-right-radius: 0 px;
    border-right: 0 ;
    border-radius: 50%
    
   
}
.left-ear-1{
    position: absolute;
    width: 30px;
    height: 80px;
    background-color: lightpink;
    border: 4px solid rgb(205, 175, 175);
    top: 115px;
    left: 310px;
    border-top-left-radius: 0;
    border-top: 0;
    border-radius: 50%
    
   
}
.right-ear{
    position: absolute;
    width: 30px;
    height: 130px;
    background-color: lightpink;
    border: 4px solid rgb(205, 175, 175);
    top: 70px;
    left: 380px;
    border-radius: 50%   
}
.face{
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: rgb(205, 175, 175);
    border: 4px solid rgb(205, 175, 175);
    top: 150px;
    left: 300px;
    border-radius: 50%  
}
.eye-left{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: 30px;
    left: 26px;
}
.eye-left-inside{
    position: relative;
    width: 19x;
    height: 19px;
    border-radius:50%;
    top: 2px;
    background-color: rgb(0, 0, 0);
   
}
.eye-left-inside-shine{
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    left: 14px;
    top: 2px;
}
.eye-right{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: 10px;
    left: 80px;
}
.eye-right-inside{
    position: relative;
    width: 19x;
    height: 19px;
    border-radius:50%;
    top: 2px;
    background-color: rgb(0, 0, 0);
   
}
.eye-right-inside-shine{
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    left: 14px;
    top: 2px;
}
.body{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: rgb(205, 175, 175);
    top: 70px;
    left: -60px;
    border-radius: 50%;
}
.body-inside{
    position: absolute;
    width: 140px;
    height: 160px;
    background-color: lightpink;
    border-radius: 50%;
    top: 65px;
    left: 55px;
}
.left-hand{
    position: absolute;
    width: 25px;
    height: 80px;
    border: 2px solid black;
    background-color:rgb(205, 175, 175);
    border-top: 0px;
    border-bottom: 0px;
    top: 110px;
    left: 15px;
}
.fingers-left{
    position: absolute;
    width: 14px;
    height: 28px;
    border-radius: 50%;
    top: 60px;
    left: -1px;
    border: 1px solid black;
    background-color: rgb(205, 175, 175);
}
.fingers-right{
    position: absolute;
    width: 14px;
    height: 28px;
    border-radius: 50%;
    top: 60px;
    left: 13px;
    border: 1px solid black;
    background-color: rgb(205, 175, 175);
}
.right-hand{
    position: relative;
    width: 25px;
    height: 80px;
    border: 2px solid black;
    background-color:rgb(205, 175, 175);
    border-top: 0px;
    border-bottom: 0px;
    top: 110px;
    left: 205px;
}
.object-left-hand{
    position: relative;
    width: 80px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rgb(182, 48, 0);
    background-color: orange;
    top: 70px;
    left: -25px;
}
.object-right-hand{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(182, 48, 0);
    background-color: orange;
    top: 70px;
    left: -15px;
}
.left-foot{
    position: relative;
    width: 150px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(205, 175, 175);
    top: 170px;
    left: -30px;
}
.right-foot{
    position: relative;
    width: 150px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(205, 175, 175);
    top: 90px;
    left: 150px;
}
.left-mutache{    
    border-bottom: 3px solid rgb(255, 0, 0);
    width: 45%;
    transform: rotate(45deg);
    transform-origin: left;
}